#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import '../css/bootstrap.css';
@import '../css/font-awesome.min.css';
@import '../css/font-awesome-animation.css';
@import '../css/style.css';